  <%= render 'layouts/edit', posts: @posts %>
  
  <%= form_with model: @post, method: :patch do |f| %>
    <h4>タイトル</h4>
        <%= f.text_field :title %>
    <h4>本文</h4>
        <%= f.text_area :body %>
    <%= f.submit '更新' %>
    <br>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>