<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
  <% end %>
  <p>タイトル：<%= post.title %></p>
  <p>本文：<%= post.body %></p>
</div>
<% end %>