<h1>投稿一覧</h1>
<% @posts.each do |post| %>
    <div>
        <p>タイトル：<%= post.title %></p>
        <p>本文：<%= post.body %></p>
        <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) if post.user %></p>
        <p>ユーザーネーム：<%= post.user.present? ? post.user.name : '未登録ユーザー' %></p>
        <%= link_to '詳細へ', post_path(post.id) %>
    </div>
<% end %>
