<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-3 mx-auto shadow-lg px-0 my-5 text-center">
      <%= image_tag @user.get_profile_image(100,100), class: "img-fluid rounded-circle mt-4" %>
      <h3 class="mb-3 mt-2"><%= @user.name %></h3>
      <%= link_to "退会", admin_user_path(@user.id), method: :delete, data: { confirm: "本当に退会させますか？" }, class: "btn btn-danger ms-3 mb-4" %>
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_admin_user_path(@user), class: "btn btn-outline-primary" %></p>
      <% end %>
    </div>
  </div>

  <% if @posts.present? %>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-4 mb-4">
          <div class="p-3 border rounded h-100 d-flex flex-column shadow">
            <p>芸人名 : <%= truncate(post.comedian_name) %></p>
            <p>ネタ : <%= truncate(post.title) %></p>
            <p>感想 : <%= simple_format(truncate(post.body, length: 150)) %></p>
            <p><%= render "layouts/star", post: post %></p>
            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
              <span><%= "#{post.post_comments.count} コメント" %></span>
              <span class="mx-2"> | </span>
              <span><%= render "layouts/btn", post: post %></span>
              <span class="mx-2"> | </span>
              <span>
                <% post.tags.each_with_index do |tag, i| %>
                  <%= link_to tag.name, admin_search_path(content: tag.name, model: "tag", method: "perfect") %><%= ',' unless i == post.tags.size - 1 %>
                <% end %>
              </span>
            </div>
            <%= link_to '詳細へ', admin_post_path(post.id), class: "btn btn-sm btn-outline-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-muted">投稿がまだありません</p>
  <% end %>
</div>