<div class="container mt-4">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-3 mx-auto shadow-lg px-0 my-5 text-center">
      <%= image_tag @user.get_profile_image(100,100), class: "img-fluid rounded-circle mt-4" %>
      <h3 class="mb-3 mt-2"><%= @user.name %></h3>
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-primary" %></p>
      <% end %>
    </div>
  </div>

  <% if @posts.present? %>
    <div class="row">
      <div class="col-12 col-sm-10 col-md-9 mx-auto shadow-lg rounded px-0 my-5">
        <% @posts.each do |post| %>
          <div class="mb-3 p-3 border rounded">
            <p>芸人名 : <%= truncate(post.comedian_name) %></p>
            <p>ネタ : <%= truncate(post.title) %></p>
            <p>感想 : <%= truncate(post.body, length: 150) %></p>
            <p><%= render "public/posts/star", post: post %></p>
            <div class="d-flex justify-content-start align-items-center text-muted small mb-3">
              <span>
                <%= "#{post.post_comments.count} コメント" %>
              </span>
              <span class="mx-2"> | </span>
              <%= link_to '詳細へ', post_path(post.id), class: "btn btn-sm btn-outline-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="text-center text-muted">投稿がまだありません</p>
  <% end %>
</div>