<!DOCTYPE html>
<html>
  <head>
    <title>Netareco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= render 'layouts/header_admin' %>
      <% else %>
      <%= render 'layouts/header_public' %>
      <% end %>
    <% else %>
      <header>
        <ul>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </header>
    <% end %>

      <p id="notice"><%= notice %></p>
        <div class="d-flex justify-content-center mb-2">
          <%= render 'layouts/form' %>
    <%= yield %>
  </body>
</html>
